/* mobile first layout */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #ebf2ff;
    font-family: 'Merriweather', serif;
    color: #1d3557;
}

/* navbar */

.navbar {
    background-color: #fff;
    box-shadow: grey 0 0 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

.navbar__nav__items {
    margin: 10px;
}
.nav__item{
    display: none;
}

.icon__holder{
    display: block;
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
      );
    width: 40px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    background-size: 200% cover;
    
   
}
    
.menu__icon{
   height: 100%;
   width: 100%;
    filter: brightness(0) invert(1);
    cursor: pointer;

}
.navigation__menu__mobile__view{
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    display: none;
    transition: .5s;
}
.navigation__menu__items{
    margin: 15px 0;
    list-style: none;
    font-size: 1rem;
}
.navigation__menu__item__button{
    margin-left: 20px;
}

.button__primary {
    background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
    border: none;
    padding: 8px 16px;
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200% auto;

}




/*  total container */

section {
    margin: 48px auto 64px;
}



.container {
    width: 100%;
    padding: 0 15px;
}

.hero__container {
    min-height: 95vh;
    margin-top: 1rem;
    width: 100%;
}

.hero__image__container {
    min-height: 370px;
    max-height: 735px;
    position: relative;
    width: 100%;
}

.hero__image {
    width: 100%;
    border-radius: 6px;
}

.hero__text {
    line-height: 2.25rem;
    font-weight: 900;
    font-size: 30px;
}

.hero__button {
    margin-top: 20px;
    margin-left: 20px;
}

/* explorer menu section */

.explore {
    width: 100%;
    margin-bottom: 4rem;
}

.explore__heading {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.menu__card {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 1rem;
    background-color: #fff;
    box-shadow: grey 0 0 10px 0;
}

.card__image__holder {
    width: 100%;
    margin-bottom: 1rem;
}

.card__image {
    width: 100%;
}

.menu__item__name {
    margin-bottom: .5rem;
}

.menu__description {
    padding: 16px;
}

.text-red {
    color: red;
}

.explore__menu__button {
    width: 100%;
    margin: 2rem 0;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 400;
}

/* restaurant section */

.restaurant__description {
    font-size: 1.9rem;
    font-weight: 1000;
    line-height: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.gridded__image {
    width: 100%;
}

.flex1 {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.flex2 {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.grid__image__container {
    width: 50%;
    position: relative;
}

.grid__image__container>img {
    width: 100%;
    margin: 0 5px;
    border-radius: 6px;
}

#top__shrink {
    height: 80%;
    position: absolute;
    bottom: 0;
}

#bottom__shrink {
    height: 80%;
    position: absolute;
    top: 0;
}

/* email section */

.email__section {
    padding: 1rem;
}

.email__section__heading {
    font-size: 1.5rem;
    font-weight: bolder;
    line-height: 2rem;
    text-align: left;
    margin-bottom: 20px;
}

.email__form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.email__input {
    height: 2rem;
    border-radius: 6px;
    border: #dd2476 1px solid;
    font-weight: 700;
    padding: 0% 10px;
    outline: none;
    max-width: 20rem;
}

.email__input>* {
    opacity: .3;
}

/* quote section */

.quote__container {
    background: url(./assets/photo-1522336572468-97b06e8ef143.jpg) center center / cover no-repeat;
    height: 200px;
    border-radius: 1rem;
    color: #ebf2ff;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.quote__text {
    margin: 0% 1rem;
    z-index: 3;
    font-size: 1em;
}

.background__color__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #1d3557;
    top: 0%;
    left: 0;
    z-index: 2;
    opacity: .49;
}

/* footer section */

footer {
    width: 100%;
    background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    padding: 0%;
    display: flex;
    flex-direction: column;
   align-items: center;
   border-radius: 13px 13px 0 0;
   
}
.footer__image__container{
    width: 300px;
}

.footer__logo{
    width: 100%;
    filter: brightness(0) invert(1);
}

.footer__list{
    color: #ebf2ff;
}
.list__items{
    list-style: none;
    margin: 5px 0;
}


/* media Quries */

/*  1. 768px  
    2.1020px 
    3. 1440px*/

@media screen and (min-width:768px) {
    section {
        margin: 48px 0 64px;
    }
    .hero__container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 15;
    }
    .hero__image__container {
        height: 100%;
        width: 60%;
    }
    .hero__description {
        height: 100%;
        width: 40%;
    }
    .hero__text {
        text-align: left;
    }
    /* explorer section */
    .explore {
        position: relative;
    }
    .explore__menu__list {
        margin: 0 auto;
        margin-top: 2rem;
        display: flex;
        gap: 15px;
        padding: 0 10px;
    }
    .explore__background {
        position: absolute;
        top: 0%;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
        transform: skewy(-3deg);
    }
    #higher {
        margin-top: -10px;
        margin-bottom: 10px;
    }
    /* restaurant section */
    .restaurant {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .restaurant__description {
        height: 100%;
        width: 50%;
    }
    .gridded__image {
        height: 100%;
        width: 50%;
    }
    .restaurant__description {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    /* email section */
    .email__section__heading {
        font-size: 30px;
    }
    .email__section {
        width: 45%;
        max-width: 500px;
        margin: 48px auto 64px;
        ;
    }
    .email__form {
        width: 100%;
        justify-content: space-between;
    }
    .email__input {
        width: 18rem;
    }
    /* quote section */
    .quote__container {
        height: 300px;
    }
    .quote__text {
        font-size: 2rem;
    }


    /* footer section */

footer {
    
    
    flex-direction: row;
   align-items: center;
   justify-content: space-evenly;

   
}
}

@media screen and (min-width:1200px) {
    section {
        max-width: 1110px;
        margin: 48px auto 64px;
    }
    .nav__item {
        padding: 16px 32px;
        font-size: 16px;
        display: block;
    }
    .icon__holder{
        display: none;
    }
    #hidden__menu{
        display: none;
    }

    .navbar {
        padding: 0 48px;
    }
    .hero__container {
        margin: 1rem auto;
    }
    .hero__image__container {
        height: 100%;
        width: 50%;
    }
    .hero__description {
        height: 100%;
        width: 50%;
    }
    .hero__text {
        font-size: 48px;
        line-height: 3rem
    }
    .hero__button {
        padding: 16px 32px;
    }
    /* explore section */
    .explore__button__container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .explore__menu__button{
        background-color: transparent;
    }
    .explore__menu__button:hover{
        background: white !important;
        color: #dd2476;
       display: block;
        width: 20rem;
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
    }
    .explore__heading {
        font-size: 38px;
    }
    /* email section */
    .email__submit__button {
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    .email__section__heading {
        font-size: 3rem;
    }
}

/* @media screen and (min-width:1440px) {} */



/* button hover styling */


.button__primary:hover{
    background-position: right center ;
    text-decoration: none;
    
}


/* class for hamburger menu to b included using js */


.show{
    display: block;
    
}